// Deis Labs Scheme

$blue: #00B3E8;
$red: #FF0056;
$green: #00BE40;

$charcoal: #4A4A4A;
$midnight: #444360;
$cream: #F6FDF7;
$links: saturate($midnight, 33%);

// Krustlet Colors
// ---------------------------------------
$purple: #8B4FD7;
$blue: $purple;
$orange: #F86531;
$teal: #03D9D0;

$darkblue: #001F7F;
$darkgrey: #4F5074;
$shadeblue: #E3E4E5;
$shadegrey: #EDF1EE;

$bluel: #2CBDFE;
$yellow: #F7CC42;
$salmon: #FDEDF0;

$displaytype: Poppins, Aharoni, sans-serif;
$primarytype: 'Work Sans', sans-serif;


// theme defaults
@import "support/functions";
@import "variables_project";
@import "variables";
@import "support/mixins";

@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

$fa-font-path: "../fonts" !default;
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@import "support/utilities";
@import "colors";
@import "boxes";
@import "blog";
@import "code";
@import "nav";
@import "sidebar-tree";
@import "sidebar-toc";
@import "buttons";
@import "breadcrumb";
@import "alerts";
@import "content";
@import "search";
@import "main-container";
@import "blocks/blocks";
@import "section-index";
@import "pageinfo";

@if $td-enable-google-fonts {
  @import url($web-font-path);
}

footer {
  min-height: 7rem;
  background: white;

  a.nav-link {
    color: $blue;
    font-size: 1.25rem;
  }

  img {
    max-height: 1.333rem;
    margin: 0.5rem 1.25vw;
  }

  @include media-breakpoint-down(md) {
    min-height: 200px;
  }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
  .td-offset-anchor:target {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
  }

  h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
    display: block;
    content: " ";
    margin-top: -5rem;
    height: 5rem;
    visibility: hidden;
  }
}

// Deis Labs Mixins
@mixin transition($property:all, $duration:0.3s, $easing:ease-in-out) {
  transition: $property $duration $easing;
}

@mixin border-radius($radius1:3px, $radius2:3px) {
  -webkit-border-radius: $radius1 $radius2 $radius1 $radius2;
  -moz-border-radius: $radius1 $radius2 $radius1 $radius2;
  border-radius: $radius1 $radius2 $radius1 $radius2;
}

@mixin box-shadow($xlength:0, $ylength:2px, $size:0, $color:rgba(30,30,30,0.25)) {
  -webkit-box-shadow: $xlength $ylength $size $color;
  -moz-box-shadow: $xlength $ylength $size $color;
  box-shadow: $xlength $ylength $size $color;
}

@mixin uppercase {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.15em;
}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes $animation_name {
    @content;
  }
  @-moz-keyframes $animation_name {
    @content;
  }
  @-o-keyframes $animation_name {
    @content;
  }
  @keyframes $animation_name {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards;
}


// Docs theme styles

html {
  position: relative;
  background: linear-gradient(180deg,#f6fdf7 0%,#efeff2 100%);
  background-attachment: fixed;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 21px;
  line-height: 1.727;
  color: $charcoal;
  min-height: 101vh;
  background: transparent;
}

.td-outer {
  min-height: 100vh;
}


// topbar
.navbar {
  &.td-navbar {
    background-color: white;
    padding: 0 1vw;
    border-bottom: 2px solid lighten($midnight, 57%);

    a.navbar-brand {
      margin: 0 0 0 4rem;
      @include uppercase;
      font-family: $displaytype;
      letter-spacing: 0.067em 1rem;
      color: $midnight;

      &:before {
        display: inline-block;
        content: " ";
        width: 1em;
        height: 1em;
        border-right: 2px solid $charcoal;
        opacity: 0.5;
        margin: 0.125em 0 0 -1.667em;
        position: absolute;
        transform: rotate(30deg);
      }
    }
    
    .deislabs {
      width: 1.83rem;
      height: 2.43rem;
      display: inline-block;
      position: absolute;
      top: -0.43rem;

      span {
        position: absolute;
        left: -999em;
      }
      
      em {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        position: absolute;
        background-blend-mode: multiply;
        mix-blend-mode: multiply;
        content: " ";
        @include transition(all, 0.3s, ease-in-out);
        
        &.dl-tr {
          background: url(../images/deislabs-tr.svg) no-repeat 50% 50%;
          background-size: contain;
          left: 0;
          top: 0;
        }
    
        &.dl-sq {
          background: url(../images/deislabs-sq.svg) no-repeat 50% 50%;
          background-size: contain;
          right: 0;
          bottom: 0.6rem;
        }
    
        &.dl-ci {
          background: url(../images/deislabs-ci.svg) no-repeat 50% 50%;
          background-size: contain;
          left: 0;
          bottom: 0.6rem;
        }
      }
    
      .shapes {
        position: fixed;
        top: 0.925rem;
        display: inline-block;
        width: 1.83rem;
        height: 2.43rem;
        @include transition;
      }
    
      a {
        display: inline-block;
        width: 1.83rem;
        height: 2.43rem;
    
        &:hover {
          em {
            &.dl-tr {
              left: 0.73rem;
              top:0.83rem;
            }
            &.dl-sq {
              right: 0.83rem;
            }
            &.dl-ci {
              bottom: 1.4rem;
            }
          }
        }
      }
    }

    ul.navbar-nav {
      margin-right: 1rem;

      li.nav-item {
        margin-right: 0;

        a.nav-link {
          color: $charcoal;
          font-weight: 400;
          font-size: 1rem;
          display: inline-block;
          line-height: 4;
          padding: 0 1vw;
          @include transition;
          @include uppercase;
          font-family: $displaytype;
          color: lighten($midnight, 12.5%);

          &:hover {
            color: $charcoal;
            background: white;
          }
        }
      }
    }
  }
}

.td-sidebar {
  background: transparent;
  border: 2px solid white;

  .td-sidebar-nav {
    padding-right: 0;
  }

  .td-sidebar-nav__section-title {
    font-family: $displaytype;
    color: $midnight;
    padding: 0.25rem 0;
  }

  ul {
    padding-right: 0 !important;
  }

  li {
    padding-bottom: 1.5rem;
  }

  a.td-sidebar-link {
    line-height: 1.425;
    font-weight: 400;
    font-size: 1.125rem;
    padding-right: 1.5rem;
    padding-bottom: 0.425rem;
    color: $midnight;
    border-right: 4px solid transparent;

    &.active {
      font-weight: 700;
      color: $charcoal;
      border-right: 4px solid darken($blue, 12.5%);
    }

    &:hover {
      color: $links;
      background-color: white;
      border-right: 4px solid saturate(lighten($midnight, 33.5%), 10%);
    }
  }
}

nav.breadcrumb-wrapper {
  border-bottom: 1px solid lighten($midnight, 62%);
  display: block;
  margin: -0.5rem 0 2rem;

  ol.breadcrumb {
    margin: 0;

    li.breadcrumb-item {
      font-size: 1rem;
      padding-top: 0.5rem;
      line-height: 1.5;
      
      a {
        color: lighten($midnight, 35%);
      }
    }
  }
}

main > .td-content {
  // content column sizing and alignment
  margin-right: auto;
  margin-left: auto;
  width: 62vw;
  max-width: 1140px;
  padding-bottom: 5rem;

  h1 {
    font-family: $displaytype;
    margin: 4.5rem 0 1.67rem;
    font-size: 2.75rem;
    letter-spacing: 0.025em;
  }

  .lead {
    color: $midnight;
    opacity: 0.8;
  }

  h2 {
    font-family: $displaytype;
    margin-top: 6.67rem !important;
    margin-bottom: 2.125rem;
  }

  h3 {
    font-family: $displaytype;
    @include uppercase;
    margin-top: 4rem !important;
    margin-bottom: 3rem;
  }

  .td-content code {
    background: transparent;
  }

  .appendix {
    background: rgba(255,255,255,0.35);
    padding: 1.5rem 2.5rem;
    border: 2px solid white;
    margin: 8.25rem auto 3.5rem;
    box-shadow: 0 1px 8px 0px #e3e3e3;

    h2 {
      margin-top: 0.25rem;
    }
  }

  p code {
    font-size: 1em;
    color: $charcoal;
    background: rgba(30,30,30,0.0575);
    border-radius: 0.5rem;
  }

  code,
  pre {
    color: black;
  }
  pre {
    border-radius: 1.125rem;
    border: none;
    box-shadow: none;
    background: $midnight;
    background: black;
    color: #e5e5e5;
    margin: 1.333rem 0 2rem;

    code {
      color: #e5e5e5;
    }
  }
  .table {
    background-color: transparent !important;
  }

  .highlight {
    box-shadow: none;
    border: none;
    margin-bottom: 2.5rem;
    background: transparent;
    color: #e5e5e5;

    pre {
      margin: 0;
      background: black;
      color: #e5e5e5;
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar.td-navbar .deislabs,
  .navbar.td-navbar a.navbar-brand:before {
    display: none;
  }

  .td-navbar .td-navbar-nav-scroll {
    min-height: 5rem;
  }

  .navbar.td-navbar a.navbar-brand {
    margin: 0 !important;
  }

  .navbar.td-navbar li.nav-item.mr-4 {
    margin: 0 !important;
    text-align: center;

    ul.navbar-nav a.nav-link {
      text-transform: none;
      font-weight: 400;
    }
  }

  main > .td-content {
    width: 88vw;

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
    }
  }
}
